<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vanilla App Template</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:regular,600,700&family=Roboto:wght@700&family=Epilogue:100&display=swap;">
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>

    <main>
      <section class="artists-section">
        <div class="artist-container">
          <div class="artist-wrapper">
            <h3 class="section-title">Artists</h3>
            <h2 class="section-subtitle">Explore Your New Favorite Artists</h2>

            <ul id="artists-list" class="artists-list">
            </ul>

            <div class="load-more-wrapper">
              <button id="load-more" class="load-more-btn">
                  Load More
                <img src="../img/down-arrow.svg" alt="arrow" class="btn-icon" />
              </button>
            </div>
          </div>



        </div>
      </section>
    </main>

    <script type="module" src="./main.js"></script>
  </body>
</html>
